<!-- app/views/members/edit.html.erb -->
<h1>Members#edit</h1>

<%= form_with model: @member, local: true do |form| %>
  <% if @member.errors.any? %>
    <div>
      <h2><%= pluralize(@member.errors.count, "Error") %>が発生しました:</h2>
      <ul>
        <% @member.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "名前" %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :grade, "学年" %><br>
    <%= form.select :grade, [[1, 1],[2, 2],[3, 3],[4, 4],[5, 5],[6, 6]], include_blank: "選択してください" %>
  </div>

  <div>
    <%= form.label :classroom, "組" %><br>
    <%= form.select :classroom, Member.distinct.pluck(:classroom), include_blank: "選択してください" %>
  </div>

  <div>
    <%= form.label :age, "年齢" %><br>
    <%= form.number_field :age %>
  </div>

  <div>
    <%= form.label :committee, "委員会" %><br>
    <%= form.select :committee, [
      ["会計委員会", "会計委員会"],
      ["作法委員会", "作法委員会"],
      ["図書委員会", "図書委員会"],
      ["生物委員会", "生物委員会"],
      ["体育委員会", "体育委員会"],
      ["保健委員会", "保健委員会"],
      ["用具委員会", "用具委員会"],
      ["火薬委員会", "火薬委員会"],
      ["学級委員長委員会", "学級委員長委員会"],
    ], include_blank: "選択してください" %>
  </div>

  <div>
    <%= form.label :text, "説明" %><br>
    <%= form.text_field :text %>
  </div>

  <div>
      <%= button_to "修正", { action: "edit" }, method: :get %>
 </div>
<% end %>
