<%# CSS読み込み %>
<%= stylesheet_link_tag 'members/index' %>

<%# タイトル表示 %>
<% content_for :title do %>
   Member
<% end %>

<h1>Members#index</h1>
<p>Find me in app/views/members/index.html.erb</p>

<p><%= link_to "新規キャラクター登録", new_member_path %></p>

<%= form_with url: members_path, method: :get, local: true do |form| %>
<!-- form_withは非同期通信を行うメソッド、local: trueと引数を渡す事で通常のHTTPリクエストになる -->

  <div>
    <%= form.label :grade, "学年で絞り込み" %>
    <%= form.select :grade, options_for_select(Member.distinct.pluck(:grade), params[:grade]), include_blank: "すべて" %>
  </div>
  <div>
    <%= form.label :classroom, "組で絞り込み" %>
    <%= form.select :classroom, options_for_select(Member.distinct.pluck(:classroom), params[:classroom]), include_blank: "すべて" %>
  </div>
  <div>
    <%= form.label :committee, "委員会で絞り込み" %>
    <%= form.select :committee, options_for_select(Member.distinct.pluck(:committee), params[:committee]), include_blank: "すべて" %>
  </div>
  <%= form.submit "絞り込む" %><!-- パラメータにテキスト表示されるのでHTML調整 -->
<% end %>

<!-- <%= debug @members %> -->
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>名前</th>
      <th>学年</th>
      <th>組</th>
      <th>年齢</th>
      <th>委員会</th>
      <th>説明</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.id %></td>
        <td><%= member.name %></td>
        <td><%= member.grade %>年</td>
        <td><%= member.classroom %>組</td>
        <td><%= member.age %>歳</td>
        <td><%= member.committee %></td>
        <td><%= member.text %></td>
        <td>
          <%= link_to "修正", edit_member_path(member) %>
          <%= link_to "削除", member_path(member), data: {turbo_method: :delete, turbo_confirm: '本当に削除しますか？'} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
