<!-- app/views/members/new.html.erb -->
<h1>Members#new</h1>

<%= form_with model: @member, local: true do |form| %>
  <% if @member.errors.any? %>
    <div>
      <h2><%= pluralize(@member.errors.count, "Error") %>が発生しました:</h2>
      <ul>
        <% @member.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "名前" %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :grade, "学年" %><br>
    <%= form.select :grade, [[1, 1],[2, 2],[3, 3],[4, 4],[5, 5],[6, 6]], include_blank: "選択してください" %>
  </div>

  <div>
    <%= form.label :grade, "組" %><br>
    <%= form.select :classroom, [["い", "い"],["ろ", "ろ"],["は", "は"]], include_blank: "選択してください" %>
  </div>

  <div>
    <%= form.label :grade, "年齢" %><br>
    <%= form.number_field :age %>
  </div>

  <div>
    <%= form.label :grade, "説明" %><br>
    <%= form.text_field :text %>
  </div>

  <div>
    <%= form.submit "登録" %>
  </div>
<% end %>
